.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        background-color: lightsalmon;
        position: relative;
        top: 70px;
        scroll-behavior: smooth; //not working?
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar {
        display: none; //for other browsers
        }
        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}
