@import "../../global.scss";

.skills {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 50px;
        margin-bottom: 35px;
    }
}

.skill-icons {
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
        width: 100px;
        height: 100px;
        display: flex;

        &:hover {
            background-color: rgb(178, 250, 178);
            border-radius: 10px;
        }

        @include mobile {
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: column;
        }
    }
}
